div{
  float: left;
}
#grey{
  background-color: #302C2D;
  height: 300px;
  width: 100%;
  color: #FFFFFF;
}
#bluec{
  background-color: #16A086;
  height: 200px;
  width: 100%;
}
#yellow{
  background-color: #F39C11;
  height: 300px;
  width: 33%;
}
#red{
  background-color: #E84C3D;
  height: 300px;
  width: 33%;
}
#blueb{
  background-color: #0a6b9B;
  height: 300px;
  width: 34%;
}
#black{
  background-color: #08000a;
  height: 100px;
  width: 100%;
}

.emoji{
  margin-right: 1000px;
  width: 150px;
  margin-left: 10%;
  margin-top: -7%;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
